<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header', {title: 'Hackstagram'}); %>
</head>
<body>
    <%- include('partials/navbar'); %>

    <h2 class="text-center mt-5">Edit Post</h2>

    <div class="container w-75 p-5">
        <form action="/edit/<%= result.id %>" method="post">
            <div class="row w-25 mx-auto">
                <img src="<%= result.imgUrl %>" alt="<%= result.imgUrl %>">
            </div>
            <div class="row my-3 ">
                <label for="" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="" value="<%= result.title %>">
            </div>
            <div class="row">
                <label for="">Tag</label>
                <select class="form-select" name="TagId" id="">
                    <% tag.forEach(el=>{ %>
                        <% if(result.TagId == el.id) {%>
                            <option value="<%= result.TagId %> " selected><%= el.name %> </option>
                        <% }else{ %>
                            <option value="<%= el.id %>"><%= el.name %></option>
                        <% } %>   
                    <% }) %> 
                </select>
            </div>
            <div class="row mt-5">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </form>
    </div>

   
</body>
</html>