<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%= result.id %>" method="post">
        <div>
            <img src="<%= result.imgUrl %>" alt="<%= result.imgUrl %>">
        </div>
        <div>
            <label for="">Title:</label>
            <input type="text" name="title" id="" value="<%= result.title %>">
        </div>
        <div>
            <%= JSON.stringify(result) %> 
            <label for="">Tag</label>
            <select name="TagId" id="">
                <% tag.forEach(el=>{ %>
                    <% if(result.TagId == el.id) {%>
                        <option value="<%= result.TagId %> "><%= el.name %> </option>
                    <% }else{ %>
                        <option value="<%= el.id %>"><%= el.name %></option>
                    <% } %>   
                <% }) %> 
            </select>
            <div>
                <input type="submit" value="Save">
            </div>
        </div>
    </form>
</body>
</html>