<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <button><a href="/profile/<%= username %>">My profile</a></button>
    <button><a href="/addPost/">Add Post</a></button>
    <form action="/home" method="get">
        <input type="text" name="search" id="" placeholder="username"> <button type="submit">Search</button> 
    </form> <br>
    <div>
        <%= JSON.stringify(post) %> 
        <% post.forEach(pst=>{ %>
            <div>
                <a href="/profile/<%= pst.User.username %>"><%= pst.User.username %> </a>
                <img src="<%= pst.imgUrl %>" alt="<%= pst.imgUrl %>">
                <h4><%= pst.title %> </h4>
                <p><%= pst.location %> </p>
            </div>
        <% }) %> 
    </div>

</body>
</html>