<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div>
        <p>Hello <%= result.username %></p>
        <a href="/home">Home</a>
        <% result.Posts.forEach(el=>{ %> 
            <div>
                <img src="<%= el.imgUrl %>" alt="<%= el.imgUrl %>">
            </div>
            <div>
                <label for=""><%= el.title %></label>
            </div>
            <div>
                <% tag.forEach(post=>{ %>
                    <% if(el.TagId === post.id){ %> 
                        <p><%= post.name %> </p>
                        <% } %> 
                <% }) %>  
            </div>
            <div>
                <button><a href="/edit/<%= el.id %>">Edit</a></button>
                <button><a href="/delete/<%= el.id %>">Delete</a></button>
            </div>
        <% }) %> 
    </div>
</body>
</html>